.popular {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
  }
  
  .popular h1 {
    color: #171717;
    font-size: 3.125rem;
    font-weight: 600;
    text-align: center;
  }
  
  .popular hr {
    width: 12.5rem;
    height: 0.75rem;
    border-radius: 0.625rem;
    background: #252525;
  }
  
  .popular-item {
    margin-top: 3.125rem;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  @media (max-width: 37.5rem) {


    .popular h1 {
      font-size: 1.875rem;
    }
  
    .popular-item {
      gap: 1.25rem;
    }
  }
  
  @media (min-width: 37.625rem) and (max-width: 64rem) {
    .popular h1 {
      font-size: 2.5rem;
    }
  
    .popular-item {
      gap: 1.25rem;
    }
  
    .popular-item .item {
      width: 15.625rem;
    }
  }
  
  @media (min-width: 64.0625rem) {
    .popular h1 {
      font-size: 3.125rem;
    }
  
    .popular-item {
      gap: 1.875rem;
    }
  
    .popular-item .item {
      width: 18.75rem;
    }
  }
  